<!doctype html>
<!--
Copyright (c) 2016, GoodData Corporation. All rights reserved.
This source code is licensed under the BSD-style license found in the
LICENSE file in the root directory of this source tree.
-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>SERVERSPEC Test reports</title>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/report.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
<script src="scripts/report.js"></script>

</head>
<body>
  <div class="browser">
    <ul>
      {{#files}}
      <li>
        <a href="/{{this}}">{{this}}</a>
      </li>
      {{/files}}
    </ul>
  </div>
</body>
</html>
